<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="/js/jquery-1.8.3.js"></script>
    <script src="/js/sendEmail.js"></script>
    <link rel="stylesheet" href="/css/sendEmail.css"/>
</head>
<body>
    <div class="mailDemo simple">
        <h3 class="title">简单邮件</h3>
        <div>
            <span>收件人:</span>
            <input class="to"/>
        </div>
        <div>
            <span>主题:</span>
            <input class="subject"/>
        </div>
        <div>
            <span>内容:</span>
            <textarea class="content"></textarea>
        </div>
        <div>
            <button class="sendBtn">发送邮件</button>
        </div>
    </div>
    <div class="mailDemo html">
        <h3 class="title">html邮件</h3>
        <div>
            <span>收件人:</span>
            <input class="to"/>
        </div>
        <div>
            <span>主题:</span>
            <input class="subject"/>
        </div>
        <div>
            <span>内容:</span>
            <textarea class="content"></textarea>
        </div>
        <div>
            <button class="sendBtn">发送邮件</button>
        </div>
    </div>
    <div class="mailDemo attachment">
        <h3 class="title">附件邮件</h3>
        <div>
            <span>收件人:</span>
            <input class="to"/>
        </div>
        <div>
            <span>主题:</span>
            <input class="subject"/>
        </div>
        <div>
            <span>内容:</span>
            <textarea class="content"></textarea>
        </div>
        <div>
            <button class="sendBtn">发送邮件</button>
        </div>
    </div>
</body>
</html>